@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

}

html{
    font: 16px/1.4 Arial, Helvetica, sans-serif;
}

main {
    position:relative;
    margin:1rem 1rem;

}

h1 {
    width: 40%;
    border:1px solid black;
    border-radius: 0.2rem;
    margin-left: 1rem;
    padding:0.5rem;
    padding-left: 1rem;
    font-size: 16px;
    font-weight: 100;
    position:absolute;
    top: -1rem;
    z-index: 1;
    background-color:#f8f8f8;


}

form {
    margin: 2rem 1rem 1rem 1rem;
    border:1px solid black;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
    background-color:#f8f8f8;
}

label{
    width:25%;
    margin-bottom: 0.1rem;
    font-weight:bolder;

}

label:nth-child(1){
    margin-top:1rem;
}

input {
    width:100%;
    height: 2rem;
    margin-bottom: 2rem;
    border:1px solid black;
    border-radius: 0.2rem;
    font-family: "Font Awesome 5 Free";
font-weight: 800;
font-size: larger;
color:black;
padding-left: 1rem;

}

button {
    width: 25%;
    padding: 0.5rem;
    background-color: #2c2c2c;
    color:#fff;
    border:none;
    border-radius: 0.2rem;
    font-weight: bold;
}


@media (min-width: 480px) {
    main {
        margin:1rem 2rem;
    
    }
}
@media (min-width: 641px) {
    main {
        margin:1rem 8rem;
    
    }
}
@media (min-width: 961px) {
    main {
        margin:1rem 12rem;
    
    }
}

@media (min-width: 1281px) {
    main {
        margin:1rem 24rem;
    
    }

    form {

        flex-direction: row;
        padding-top:3rem;
        justify-content: flex-start;
       
    }



    input {
        width:70%;
    }

    label {
        display:inline;
        width:20%;
        text-align: center;
      
        margin-left: 0;
        margin-right: 0.5rem;
    }

    label:nth-child(1){
        margin-top:0;
    }

    button{
        width:20%;
    }



  

}