

body {

    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

section {
    margin-left: 20px;
}

header h1 {
    font-size: 28px;
}

header p {
    font-style: italic;
}



ul {
    background-color: #444;
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;

}

li {
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;

}

a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    background-color: #444;

}

footer p {
	color: #fff;
    padding: 10px;
    text-align: center;
}

.entry {
    font-size: 24px;
}