@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    display: inline-block;
    list-style: none;
    padding: 2em
}

li {
    display: inline-block;
    width: 2em;
    height: 2em;
    font-size: 32px;
    margin-left: 1em;
}

a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    color: #262626;
    border-radius: 50%;
    text-align: center;
}

i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

a.facebook:hover {
    color: #3b5998;
}

a.twitter:hover {
    color: #00aced;
}

a.google-plus:hover {
    color: #dd4b39;
}

a.linkedin:hover {
    color: #007bb6;
}

a.instagram:hover {
    color: #517fa4;
}